{% extends 'base.html' %}
{% load poll_extras %}

{% block title %}
    سفارش چی | {{ product.title }}
{% endblock %}

{% block content %}
    <br><br><br><br>
    <div class="container">
        <div class="border rounded p-4" style="background-color: #f8f9fa;">
            <div class="row g-4 align-items-center">
                <div class="col-lg-6 text-center">
                    <img src="{{ product.image.url }}" class="img-fluid rounded" alt="Image" style="max-width: 80%; height: auto; margin: auto;">
                </div>
                <div class="col-lg-6">
                    <h4 class="fw-bold mb-3">{{ product.title }}</h4>
                    <p class="mb-3"> برند : {{ product.brand }}</p>
                    <h5 class="fw-bold mb-3">{{ product.price | fix_currency }}</h5>
                    <p class="mb-4">{{ product.description }}</p>
                    <div class="d-flex justify-content-between align-items-center mb-5">

                        <div class="input-group quantity" style="width: 100px;">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control form-control-sm text-center border-0" id="product-quantity" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <button type="button" id="add-button" value="{{ product.id }}"
                                class="btn border border-secondary rounded-pill px-4 py-2 text-primary">
                            <i class="fa fa-shopping-bag me-2 text-primary"></i> اضافه به سبد خرید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on('click', '#add-button', function (e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url 'cart_add_view' %}',
                data: {
                    product_id: $(this).val(),  // Get product ID from the button
                    product_quantity: $('#product-quantity').val(),  // Get quantity from the input field
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById('cart-qty').textContent = json.qty;
                    Swal.fire({
                        text: 'آیتم با موفقیت اضافه شد',
                        icon: 'success',
                        showConfirmButton: false
                    });
                    setTimeout(function (){
                        window.location.replace('{% url 'store_index_page' %}')
                    }, 2000);

                },
                error: function (xhr, errmsg, err) {
                    // Handle error (e.g., show an alert)
                }
            });
        });
    </script>

    <br><br>
{% endblock %}
