{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    سفارش چی | بازیابی کلمه عبور
{% endblock %}

{% block content %}
    <div class="container-fluid py-5">
        <div class="container py-5">
            <h2 class="text-center bg-secondary shadow-sm " style="border-radius: 10px; direction: rtl;">بازیابی کلمه عبور</h2>
            <br>

            <div class="bg-light rounded shadow-sm ">

                <form autocomplete="off" method="POST">
                    {% csrf_token %}
                    <div class="p-4" style="direction: rtl;">
                        <p>کلمه عبور جدید خود را وارد کنید </p>
                        <br>
                        {{ form | crispy }}

                        <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                            <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">تایید</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}