{% extends 'base.html' %}
{% block title %}
    سفارش چی | ایمیل فعال سازی
{% endblock %}

{% block content %}
    <br><br>
    <div class="container py-5">
        <div class="table-responsive bg-light rounded shadow-sm">
            <div class="container-fluid py-2">
                <div class="container py-5 text-center">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <i class="bi bi-envelope display-1 text-warning"></i>
                            <h1 class="mb-4">ایمیل فعال سازی ارسال گردید</h1>
                            <p class="mb-4">برای فعال سازی حساب کاربری خود بر روی لینکی که برای شما ارسال گردید کلیک کنید</p>
                            <a class="btn border-secondary rounded-pill py-3 px-5" href="{% url 'store_index_page' %}">صفحه اصلی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}