<!-- Navbar start -->
{% load static %}
<div class="container-fluid fixed-top" >
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl shadow" style="border-radius: 10px">
            <a href="{% url 'store_index_page' %}" class="navbar-brand"><h1 class="text-primary display-6">سفارش چی</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">دسته بندی ها</a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                            <center>
                                <a href="{% url 'store_index_page' %}" class="dropdown-item">همه</a>
                                {% for category in categories %}
                                    <a href="{% url 'products_by_category_page' slug=category.slug %}" class="dropdown-item">{{ category.title }}</a>
                                {% endfor %}
                            </center>
                        </div>
                    </div>

                    <a href="{% url 'store_index_page' %}" class="nav-item nav-link"><i class="fa fa-store"></i>&nbsp;فروشگاه</a>

                    {% if user.is_authenticated %}
                        <a href="{% url 'dashboard_page' %}" class="nav-item nav-link"><i class="fa fa-user"></i>&nbsp;داشبورد</a>
                        <a href="{% url 'logout_view' %}" class="nav-item nav-link"><i class="fa fa-right-from-bracket"></i>&nbsp;خروج</a>
                    {% else %}
                        <a href="{% url 'track_order_page' %}" class="nav-item nav-link"><i class="fa fa-search"></i>&nbsp;پیگیری سفارش</a>
                        <a href="{% url 'register_page' %}" class="nav-item nav-link"><i class="fa fa-user-plus"></i>&nbsp;ثبت نام</a>
                        <a href="{% url 'login_page' %}" class="nav-item nav-link"><i class="fa fa-right-to-bracket"></i>&nbsp;ورود</a>
                    {% endif %}

                </div>

                <div class="d-flex m-3 me-0">
                    <a href="{% url 'shopping_cart_page' %}" type="button" role="button"
                       class="position-relative me-4 my-auto">

                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span id='cart-qty' class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">
                            {% with qty_num=cart|length %}
                                {% if qty_num > 0 %}
                                    {{ qty_num }}
                                {% else %}
                                    0
                                {% endif %}
                            {% endwith %}
                        </span>

                    </a>
                </div>
            </div>
        </nav>
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div id="message-timer" class="alert alert-primary text-center py-2 px-4 rounded shadow-sm mx-auto" style="max-width: 400px;">
                    <h6 class="mb-0">{{ message }}</h6>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<!-- Navbar End -->
<br><br>