{% extends 'base.html' %}
{% load poll_extras %}
{% load jalali_tags %}

{% block title %}
    سفارش چی | خرید موفف
{% endblock %}

{% block content %}
    <br><br>
    <div class="container py-5">
        <div class="table-responsive bg-light rounded shadow-sm">
            <div class="container-fluid py-5">
                <h2 class="text-center bg-secondary shadow-sm" style="border-radius: 10px; direction: rtl;">سفارشات</h2>
                <div class="container py-4 text-center">
                    <div class="row justify-content-center">
                        <div class="bg-body rounded shadow-sm">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" style="text-align: right;">شماره سفارش</th>
                                    <th scope="col" style="text-align: right;">تاریخ</th>
                                    <th scope="col" style="text-align: right;">ساعت</th>
                                    <th scope="col" style="text-align: right;">مجموع</th>
                                    <th scope="col" style="text-align: right;">موفق</th>
                                    <th scope="col" style="text-align: right;">جزییات</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr id="row-{{ order.id }}">
                                        <td style="vertical-align: middle;">
                                            <a href="{% url 'order_detail_page' order_pk=order.id %}">
                                                <p class="mb-0" style="text-align: right;">{{ order.track_number }}</p>
                                            </a>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <p class="mb-0" style="text-align: right;">{{ order.date.date | to_jalali }}</p>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <p class="mb-0" style="text-align: right;">{{ order.date.time }}</p>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <p class="mb-0" style="text-align: right;">{{ order.payment_amount | fix_currency }}</p>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <p class="mb-0" style="text-align: right;">
                                                {% if order.is_payed == True %}
                                                    <i class="fa fa-check text-success"></i>
                                                {% else %}
                                                    <i class="fa fa-times text-danger"></i>
                                                {% endif %}
                                            </p>
                                        </td>
                                        <td style="vertical-align: middle; text-align: right;">
                                            <a href="{% url 'track_order_detail_page' order=order.id %}" class="btn border border-secondary rounded-pill px-3 text-primary">مشاهده</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}